body {
    
    background-color:black;
    
}

h1{
    
    font-weight:bolder;
    font-size:30px;
    color:white;   animation-name:h1;
    animation-delay:2s;
    animation-iteration-count:infinite;
    animation-duration:3s;
    animation-direction:reverse;
}

h4{
    font-weight:bold;
    font-family:Arial;
    font-size:20px;
    color:aliceblue;
    animation-name:h4;
    animation-iteration-count:infinite;
    animation-duration:4s;
    animation-delay:2s;
    animation-direction:reverse;
}


@keyframes h1{
    50%{
        
        color:#fff;
        letter-spacing:6px;
        text-shadow:3px 5px 4px lightblue;
        
    }
    
    70%{
        
        color:#f16;
        text-align:center;
        letter-spacing:7px;
        text-shadow:2px 3px 4px coral;
    }        
    
}

@keyframes h4{
    50%{
        background-color:#000;
        color:#fff;
        text-align:center;
        text-indent:5px;
        letter-spacing:6px;
        text-shadow:3px 4px 5px lightgreen;
    }
    
    70%{
        
        color:red;
        text-shadow:3px 4px 5px red;
        letter-spacing:5.5px;
        
    }
}
